/* font-family: "Bebas"; */
@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas/BebasNeueRegular.otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas/BebasNeueBold.otf");
	font-style: normal;
	font-weight: 600;
}
/* font-family: "Helvetica"; */
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helvetica/helveticaneue.otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helvetica/helveticaneuebold.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helvetica/helveticaneueitalic.otf");
	font-style: italic;
	font-weight: 400;
}

img {
	max-width: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #414141;
	line-height: 1.5;
}
blockquote {
	font-style: italic;
	padding: 0 0 0 20px;
	margin-left: 55px;
	border-left: 8px solid #e8603c;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Bebas", Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #e8603c;
}
.container {
	background: #fff;
}
[class*="col-"] {
	margin-bottom: 17px;
}

/* Header Nav */

.navbar {
	margin-bottom: 0;
	border: none;
	font-family: "Bebas", Arial, Helvetica, sans-serif;
	font-weight: 600;
	position: relative;
}
.navbar:after {
	content: '';
	width: 100%;
	top: 100%;
	background: #f3af9d;
	height: 60px;
	position: absolute;
	z-index: -1;
}
.navbar-default .navbar-brand {
	color: #e8603c;
	text-transform: uppercase;
	font-size: 36px;
}
.navbar-default .navbar-brand .jt-logo-style {
	color: #f3af9d;
}
.navbar-nav>li {
	padding-left: 28px;
}
.navbar .navbar-nav>li>a {
	text-transform: uppercase;
	padding: 0;
	line-height: 78px;
	font-size: 16px;
	letter-spacing: 1px;
}

@media (min-width: 768px) {
	.navbar-collapse {
		padding-right: 0;
	}
}
@media (max-width: 767px) {
	.navbar .navbar-nav>li>a {
		line-height: 50px;
	}
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #e8603c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f3af9d;
}
.navbar-default .navbar-toggle {
	border: none;
}

/* Main Headers */
.jt-header {
	z-index: 2;
	margin-bottom: 24px;
}
.jt-header .container {
	height: 60px;
}
.jt-header h1 {
	margin: 0;
	background: #e8603c;
	font-size: 24px;
	color: #fff;
	line-height: 60px;
	padding-left: 20px;
}

/* Main Page */

.jt-main-page .col-xs-12.col-sm-9{
	padding-right: 50px;
}
.jt-main-page p {
	margin-bottom: 26px;
}
.img-thumbnail {
	margin-right: 24px;
	padding: 2px;
}
.jt-big-letter::first-letter {
	color: #e8603c;
	font-size: 36px;
	float: left;
	line-height: 1;
	padding: 0;
	padding-right: 5px;
	margin: 0;
	font-weight: 600;
}
.alert {
	padding: 26px;
	text-align: center;
	font-style: italic;
	margin-bottom: 17px;
	border: 1px solid transparent;
	border-radius: 0;
	font-size: 14px;
	line-height: 1;
}
.alert-success {
	background-color: #effeb9;
	border-color: #98c601;
	color: #98c601;
}
.alert-danger {
	background-color: #fbcbc1;
	border-color: #eb5439;
	color: #eb5439;
}
.alert-warning {
	background-color: #ffe9ad;
	border-color: #fab418;
	color: #fab418;
}
.alert-info {
	background-color: #d1e4f3;
	border-color: #4d8fcb;
	color: #4d8fcb;
	margin-bottom: 23px;
}

/* Aside Section */

h3.jt-aside-header {
	background: url('../img/header-bg.png') 50% 50%;
	background-repeat: repeat-x;
	height: 15px;
	margin-bottom: 20px;
	line-height: 15px;
}
.jt-aside-header-span {
	padding: 0 18px 0 0;
	background: #fff;
	font-size: 16px;
}
.jt-aside-section.jt-aside-gallery .row {
	margin: 0;
}
.jt-aside-gallery img {
	width: 100%;
}

.jt-aside-section [class*="col-"] {
	margin-bottom: 5px;
	padding-right: 5px;
	padding-left: 0;
}
.jt-aside-section {
	padding-bottom: 40px;
}
.jt-aside-list {
	list-style: none;
	padding-left: 0;
	line-height: 1.2;
}
.jt-aside-list li a {
	color: #464646;
	text-decoration: none;
}
.jt-aside-list li a:hover {
	color: #e8603c;
}


/* Slider */

.jt-slider {
	padding-bottom: 40px;
}
.jt-slider .container {
	z-index: 2;
	position: relative;
}
.carousel {
	margin-bottom: 17px;
}
.jt-main-content .carousel {
	margin-bottom: 0;
}
.jt-carousel-thumbnails img {
	width: 100%;
}
.jt-carousel-thumbnails a:hover img {
	transform: scale(1.1);
	transition: transform .3s;
}
.carousel-caption {
	background: rgba(232, 96, 60, 0.7);
	left: 5%;
	bottom: 10%;
	right: auto;
	top: auto;
	text-align: left;
	max-width: 410px;
	padding: 25px 20px;
	text-shadow: none;
}
.carousel-caption h2 {
	font-size: 18px;
}
.carousel-caption p {
	font-size: 12px;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	width: 100%;
}
@media (max-width: 480px) {
	.carousel-caption p {
		display: none;
	}
	.carousel-caption {
		left: 50%;
		transform: translateX(-50%);
	}
	.carousel-caption h2 {
		margin: 0;
	}
}
@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-prev,
	.carousel-control .icon-next {
		width: 50px;
		height: 50px;
		margin-top: -20px;
		font-size: 50px;
	}
}

/* Features Section */
.jt-features {
	padding-bottom: 45px;
}
.jt-features .glyphicon {
	font-size: 48px;
	line-height: 1;
	fill: #e8663c;
	float: left;
}
.jt-features h3 {
	padding-left: 70px;
	min-height: 46px;
}
.jt-features h3,
.jt-works h3,
.jt-aside-header {
	font-size: 18px;
	line-height: 1.3;
	margin: 0;
}
.jt-features p {
	padding-top: 35px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.jt-features [class*="col-"] {
	padding-right: 35px;
}
.jt-features .btn {
	background: #e8603c;
	font-size: 16px;
	font-family: "Bebas", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid #e8603c;
	box-sizing: border-box;
	transition: color .5s, background .5s;
}
.jt-features .btn:hover {
	text-decoration: none;
	color: #e8603c;
	background: #fff;
}

/* Recent Works Section */
.jt-works {
	padding-bottom: 33px;
}
h3.jt-works-header {
	background: url('../img/header-bg.png') 50% 50% repeat-x;
	margin-bottom: 25px;
}
.jt-works-header-span {
	padding: 0 20px 0 5px;
	background: #fff;
}
.jt-works-desc {
	border: 1px solid #dbdbdb;
	border-top: none;
	padding: 13px 0 14px 14px;
}
.jt-works-desc h3 {
	color: #b8b8b8;
	margin: 0;
	padding: 0;
	display: block;
}
.jt-works-date {
	color: #e8603c;
	font-family: "Bebas", Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	margin-bottom: 0;
}

/* Footer section */
.jt-footer {
	background: #f3af9d;
}
.jt-footer .container {

}
.jt-footer .container .row {
	background: #e8603c;
	padding: 40px 40px 17px 35px;
	margin-left: 0;
	margin-right: 0;
}
.jt-footer h2 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 25px;
}
.jt-footer p {
	color: #fff;
}
.jt-footer [class*="col-"] {
	padding-right: 60px;
}
.jt-twitter-name,
p.jt-twitter-time {
	color: #f3b29d;
}
p.jt-twitter-time {
	margin-bottom: 20px;
}
.jt-footer-socials {
	margin-top: 20px;
}
.jt-footer-socials img {
	display: inline-block;
	max-width: 30px;
	margin-right: 5px;
}
.jt-footer-socials img:hover {
	transform: translateY(-5px);
	transition: transform .3s;
}

/* Blog Section */
.jt-blog-item {
	position: relative;
	margin-bottom: 70px;
}
.jt-blog-item .row {
	margin-top: 24px;
}
.jt-blog-item h4 {
	font-size: 14px;
	margin: 0 0 10px;
}
.jt-blog-item h2 {
	font-size: 20px;
}
.jt-blog-item.jt-blog-link h2 {
	margin-bottom: 0;
}
.jt-blog-item.jt-blog-link a {
	color: #bebebe;
	margin-bottom: 20px;
	display: block;
}
.jt-blog-item.jt-blog-link a:hover {
	color: #e8603c;
}
.jt-blog-item.jt-blog-link p:last-child {
	padding-bottom: 45px;
}
.jt-blog-item .jt-blog-date {
	color: #bebebe;
	margin-bottom: 18px;
}
.jt-blog-item.jt-blog-quote {
	padding-bottom: 54px;
}
.jt-blog-item:before {
	content: '';
	position: absolute;
	width: 76px;
	height: 76px;
	left: 0;
	top: 0;
	transform: translateX(-114%);
	background-color: #e8603c;
	z-index: 10;
}
@media (max-width: 767px) {
	.jt-blog-item:before {
		transform: translateX(0%);
	}
	.jt-blog-item.jt-blog-quote:before,
	.jt-blog-item.jt-blog-link:before {
		display: none;
	}
	.jt-main-page .col-xs-12.col-sm-9 {
		padding-right: 10px;
	}
	.jt-aside {
		padding-top: 20px;
		border-top: 10px solid rgba(235, 84, 57, 0.40);
	}
}

/* Blog Items Icons */

.jt-blog-gallery.jt-blog-item:before {
	background-image: url("../img/blog-icons/blog-icon-gallery.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jt-blog-text.jt-blog-item:before {
	background-image: url("../img/blog-icons/blog-icon-text.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jt-blog-video.jt-blog-item:before {
	background-image: url("../img/blog-icons/blog-icon-video.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jt-blog-quote.jt-blog-item:before {
	background-image: url("../img/blog-icons/blog-icon-quote.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jt-blog-link.jt-blog-item:before {
	background-image: url("../img/blog-icons/blog-icon-link.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jt-blog-item:after {
	content: '';
	width: 100%;
	position: absolute;
	height: 15px;
	background-image: url("../img/header-bg.png");
	top: 100%;
	left: 0;
	right: 0;
}

.jt-blog-quote blockquote {
	font-style: italic;
	padding: 20px 30px 18px 75px;
	margin-left: 0;
	margin-bottom: 0;
	border-left: none;
	background: #f5f5f5;
	font-size: 13px;
	position: relative;
}
.jt-blog-quote blockquote:before {
	content: '';
	position: absolute;
	background-image: url("../img/blog-icons/blog-icon-quote-red.png");
	left: 0;
	top: 0;
	width: 76px;
	height: 76px;
	background-position: 50% 40%;
	background-repeat: no-repeat;
}

/* Pagination */
.pagination {
	margin: 0;
	margin-bottom: 30px;
}
.pagination li a {
	border: none;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-right: 5px;
	font-family: "Bebas", Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 0;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: #e8603c;
	background-color: #eee;
}
.pagination .active {
	background: #e8603c;
	color: #fff;
}
.pagination .disabled {
	background: #f3b29d;
	color: #fff;
}
